<div class="col-lg-12">
    <h2>{{ word }}</h2>

    <div> <!-- ng-bind-html="trustAsHtml(desc)">-->
        TODO: here will be an example of usage.
    </div>

    <form name="outerForm" class="tab-form-demo">
        <uib-tabset active="tabIndex">
            <uib-tab ng-repeat="tab in tabs track by $index" index="$index">
                <uib-tab-heading>
                    Իմաստ {{ $index + 1 }}
                </uib-tab-heading>
                <label for="{{ 'word' +  $index }}">Ուղիղ ձև</label>
                <input class="form-control" id="{{ 'word' +  $index }}" ng-model="tab.directForm" type="text"/>
                <label for="{{ 'wordExtended' +  $index }}">Վանկատված ձև (Լրացնել միայն բառի ուղիղ ձևում գաղտնավանկի
                    առկայության դեպքում)</label>
                <input class="form-control" id="{{ 'wordExtended' +  $index  }}" ng-model="tab.extendedForm"
                       type="text"/>

                <div class="btn-group">
                    <label class="btn btn-primary" ng-model="tab.radioModel" uib-btn-radio="'noun'">Գոյական</label>
                    <label class="btn btn-primary" ng-model="tab.radioModel" uib-btn-radio="'pronoun'">Դերանուն</label>
                    <label class="btn btn-primary" ng-model="tab.radioModel" uib-btn-radio="'verb'">Բայ</label>
                    <label class="btn btn-primary" ng-model="tab.radioModel" uib-btn-radio="'nummeral'">Թվական</label>
                    <label class="btn btn-primary" ng-model="tab.radioModel" uib-btn-radio="'adjective'">Ածական</label>
                    <label class="btn btn-primary" ng-model="tab.radioModel" uib-btn-radio="'adverb'">Մակբայ</label>
                    <label class="btn btn-primary" ng-model="tab.radioModel" uib-btn-radio="'participle'">Դերբայ</label>
                    <label class="btn btn-primary" ng-model="tab.radioModel" uib-btn-radio="'connective'">Կապ</label>
                    <label class="btn btn-primary" ng-model="tab.radioModel"
                           uib-btn-radio="'veraberakan'">Վերաբերական</label>
                    <label class="btn btn-primary" ng-model="tab.radioModel" uib-btn-radio="'interjection'">Ձայնարկություն</label>
                </div>

                 <div class="btn-group" uib-dropdown keyboard-nav>
                        <button id="simple-btn-keyboard-nav" type="button" class="btn btn-primary" uib-dropdown-toggle>
                            {{(tab[tab.radioModel].transform || {}).name || 'Ընտրել բառաթեքման տեսակը'}}<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu"
                            aria-labelledby="simple-btn-keyboard-nav">
                            <li role="menuitem" ng-repeat="transformation in armlib[tab.radioModel].transformations">
                                <a href="#"
                                   ng-click="tab[tab.radioModel].transform = transformation; tab[tab.radioModel].forms = transformation.transform(tab.directForm, tab.noun.animate, tab.extendedForm);">{{ transformation.name }}</a>
                            </li>
                            <li class="divider"></li>
                            <li role="menuitem"><a href="#">Separated link</a></li>
                        </ul>

                    </div>


                <div ng-show="tab.radioModel == 'noun'">

                    <div class="btn-group">
                        <label class="btn btn-primary" ng-model="tab.noun.animate" uib-btn-radio="true">Շնչավոր</label>
                        <label class="btn btn-primary" ng-model="tab.noun.animate" uib-btn-radio="false">Անշունչ</label>
                    </div>
                    <div class="btn-group">
                        <label for="special">Հատուկ՝</label>
                        <input type="checkbox" ng-model="tab.noun.special" id="special">
                    </div>
                    <div class="btn-group">
                        <label for="exception">Բացառություն՝</label>
                        <input type="checkbox" ng-model="tab.noun.exception" id="exception">
                    </div>


                    <h2>Հոլովում</h2>

                     <table class="table table-bordered table-hover" ng-repeat="(number, numberName) in constants.numbers">
                         <tr>
                            <th></th>
                            <th colspan="4" style="text-align: center; "><h2>{{ numberName }}</h2></th>
                        </tr>
                         <tr>
                            <th ></th>
                            <th  >Անորոշ</th>
                            <th  >Որոշյալ 1</th>
                            <th  >Որոշյալ 2</th>
                            <th >Որոշյալ 3</th>

                        </tr>
                        <tr ng-repeat="(casecode, case) in constants.cases">
                            <th>{{ case.name }}</th>
                            <td tooltip-placement="top" tooltip-append-to-body="true"  uib-tooltip="{{ tab.noun.forms[number + 'Hyphenated'][casecode] }}">
                                <input ng-model="tab.noun.forms[number][casecode]" class="form-control"
                                                        ng-disabled="!tab.noun.exception"  /></td>
                            <td ng-repeat="person in constants.persons" tooltip-placement="top" tooltip-append-to-body="true"  uib-tooltip="{{ tab.noun.forms[number + 'Hyphenated'][casecode + 'def'][person] }}">
                                <input ng-model="tab.noun.forms[number][casecode+'def'][person]" class="form-control"
                                                        ng-disabled="!tab.noun.exception"/>
                            </td>


                        </tr>
                         </table>






                </div>

                <div ng-show="tab.radioModel == 'verb'">




                    <ul class="list-group form-horizontal">
                        <li class="list-group-item col-xs-6" ng-repeat="(participleCode, participle) in constants.participles track by $index">
                            <label class="col-sm-4 control-label" for="{{ 'part' + $index }}">{{ participle.name }}</label>
                            <div class="col-sm-8" tooltip-placement="top" tooltip-append-to-body="true" uib-tooltip="{{ tab.verb.forms.participles['ext' + participleCode] }}">
                            <input class="form-control" type="text" id="{{ 'part' + $index }}" ng-model="tab.verb.forms.participles[participleCode]" ng-disabled="!tab.verb.exception"/>
                                </div>

                        </li>

                    </ul>
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th colspan="2" rowspan="2">
                                Դեմք
                            </th>
                            <th colspan="3" >Եզակի</th>
                            <th colspan="3">Հոգնակի</th>
                        </tr>
                        <tr>
                            <td>Առաջին</td>
                            <td>Երկրորդ</td>
                            <td>Երրորդ</td>
                            <td>Առաջին</td>
                            <td>Երկրորդ</td>
                            <td>Երրորդ</td>
                        </tr>
                         <tr ng-repeat-start="(moodCode, mood) in constants.moods" >
                            <th rowspan="{{getObjectKeysLength(mood.tenses) + 1}}"  style="vertical-align:middle">
                               {{  mood.name }}
                            </th>
                            <td></td>
                            <th>ես</th>
                            <th>դու</th>
                            <th>նա</th>
                            <th>մենք</th>
                            <th>դուք</th>
                            <th>նրանք</th>
                        </tr>
                        <tr ng-repeat="(tensecode, tense) in mood.tenses">
                            <td >{{ tense }}</td>
                            <td ng-repeat="(poss,w) in tab[tab.radioModel].forms.moods[moodCode][tensecode].singular" tooltip-placement="top" tooltip-append-to-body="true" uib-tooltip="{{ tab[tab.radioModel].forms.moods[moodCode+'Hyphenated'][tensecode].singular[poss] }}">
                                <input  class="form-control" type="text" ng-model="tab[tab.radioModel].forms.moods[moodCode][tensecode].singular[poss]" ng-disabled="true"></td>
                            <td ng-repeat="(poss,w) in tab[tab.radioModel].forms.moods[moodCode][tensecode].plural" tooltip-placement="top" tooltip-append-to-body="true"  uib-tooltip="{{ tab[tab.radioModel].forms.moods[moodCode+'Hyphenated'][tensecode].plural[poss] }}">
                                <input class="form-control" type="text" ng-model="tab[tab.radioModel].forms.moods[moodCode][tensecode].plural[poss]" ng-disabled="true"></td>
                        </tr>

                         <tr ng-repeat-end ng-show="false">
                            <td colspan="6"></td>
                        </tr>

                    </table>
                    <h2> Բացասական</h2>
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th colspan="2" rowspan="2">
                                Դեմք
                            </th>
                            <th colspan="3" >Եզակի</th>
                            <th colspan="3">Հոգնակի</th>
                        </tr>
                        <tr>
                            <td>Առաջին</td>
                            <td>Երկրորդ</td>
                            <td>Երրորդ</td>
                            <td>Առաջին</td>
                            <td>Երկրորդ</td>
                            <td>Երրորդ</td>
                        </tr>
                         <tr ng-repeat-start="(moodCode, mood) in constants.moods" >
                            <th rowspan="{{getObjectKeysLength(mood.tenses) + 1}}"  style="vertical-align:middle">
                               {{  mood.name }}
                            </th>
                            <td></td>
                            <th>ես</th>
                            <th>դու</th>
                            <th>նա</th>
                            <th>մենք</th>
                            <th>դուք</th>
                            <th>նրանք</th>
                        </tr>
                        <tr ng-repeat="(tensecode, tense) in mood.tenses">
                            <td >{{ tense }}</td>
                            <td ng-repeat="(poss,w) in tab[tab.radioModel].forms.moods[moodCode + 'Negative'][tensecode].singular" tooltip-placement="top" tooltip-append-to-body="true" uib-tooltip="{{ tab[tab.radioModel].forms.moods[moodCode+'NegativeHyphenated'][tensecode].singular[poss] }}">
                                <input  class="form-control" type="text" ng-model="tab[tab.radioModel].forms.moods[moodCode + 'Negative'][tensecode].singular[poss]" ng-disabled="true"></td>
                            <td ng-repeat="(poss,w) in tab[tab.radioModel].forms.moods[moodCode + 'Negative' ][tensecode].plural" tooltip-placement="top" tooltip-append-to-body="true"  uib-tooltip="{{ tab[tab.radioModel].forms.moods[moodCode+'NegativeHyphenated'][tensecode].plural[poss] }}">
                                <input class="form-control" type="text" ng-model="tab[tab.radioModel].forms.moods[moodCode+ 'Negative'][tensecode].plural[poss]" ng-disabled="true"></td>
                        </tr>

                         <tr ng-repeat-end ng-show="false">
                            <td colspan="6"></td>
                        </tr>


                    </table>

                </div>


            </uib-tab>
            <uib-tab ng-click="createnewtab()" index="10000">
                <uib-tab-heading>
                    <i class="glyphicon glyphicon-plus"></i>
                </uib-tab-heading>
            </uib-tab>

        </uib-tabset>
    </form>

</div>
