 <div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand" ng-repeat="state in mstates">
                <a href="#" ui-sref="{{ state.name }}">{{ state.displayName }}</a></li>
        </ul>
    </div>

    <div id="page-content-wrapper" ui-view>
asdasdas
    </div>

</div>