<!DOCTYPE html>
{% load staticfiles %}
<html lang="hy" ng-app="median">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static "angular/angular-csp.css"%}">
    <link rel="stylesheet" href="{% static "bootstrap-3.3.6-dist/css/bootstrap.css"%}">
    <link rel="stylesheet" href="{% static "css/median.css"%}">

    <script lang="javascript" src="{% static "angular/angular.js"%}"></script>
    <script lang="javascript" src="{% static "js/angular-ui-router.js"%}"></script>
    <script lang="javascript" src="{% static "js/median.js"%}"></script>
    <script lang="javascript" src="{% static "js/menucontroller.js"%}"></script>
    <script lang="javascript" src="{% static "js/addwordcontroller.js"%}"></script>
    <script lang="javascript" src="{% static "js/tabscontroller.js"%}"></script>
    <script lang="javascript" src="{% static "js/ui-bootstrap-tpls-1.3.2.min.js"%}"></script>
    <script lang="javascript" src="{% static "js/armlib.js"%}"></script>
</head>
<body>
<header>

</header>
<div ui-view>

</div>
</body>
</html>