<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static "css/login.css" %}"/>
    <link rel="stylesheet" href="{% static "bootstrap-3.3.6-dist/css/bootstrap.css" %}">
</head>
<body>
<div class="container">
<form action="/login/" method="post" class="form-signin">
    {% csrf_token %}

    {{ loginform }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Մուտք</button>

    </form>
    </div>
</body>
</html>